*, *::after, *::before {
    box-sizing: inherit;
}

html {
    box-sizing: border-box;
}

body {
    margin:0;
    overflow-x: hidden;
    margin-bottom: 1rem;
   
}


/* navbar */

.Navbar {
    overflow-x: hidden;
    padding-left: 1rem;
    padding-right: 1rem;
    display:flex;
    justify-content: space-between;
   
   
 
   
}

.Navbar > a {
display:flex;
text-decoration: none;
color:black;

}


.logo-icon {
margin-top: 1.8rem;
font-size: 2rem;
margin-right: 0.1rem;



}


.Youtube_logo_text {

    margin-top: 1.8rem;
  font-size: 1.3rem;
  /* margin-right: 2rem; */
  font-family: 'Antonio', sans-serif;
  font-weight: bold;



}

h5 {
    margin: 0px;
    margin-top: 1.1rem;
}


.fa-youtube {
   color: red;
}
 .nav_right > * {
    width: 100%;
} 

.nav_right {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr 1fr;
    margin-top:1.3rem;

   

    
    
}

.nav_top_icons  {

color:#777777;
font-size:1rem;
padding:1rem;

 
}

.pro_img {
    width:80%;
    padding:0px;
    margin: 0px;
    display:inline-block;
    border-radius: 50px;

   
}


/* nav-bottom */


.Navbar_bottom {
    background-color:white;
    display:grid;
    grid-template-columns: 1fr 1fr 1fr 1fr 1fr;
    position:fixed;
    bottom:0px;
    width: 100%;
    max-height:30%;
    padding:1rem;
    color:#444444;
    z-index: 999;
    font-size: 1.5rem;
    border-top:1px solid #777777;
}








.nav_btm_icons {
    display:flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    font-size: 1rem;
}

.fa-plus-circle {
font-size: 1.3rem;
}

.nav_btm_text {
    font-size: 0.8rem; 
}



/* suggestions */

.suggestions {
    display:flex;
    justify-content: space-around;

}

.suggestions >  a {
    padding: 0.2rem;
    display: inline-block;
    color:black;
    text-decoration: none;
    border:1px solid #777777;
    border-radius: 10px;
    background-color: #e4e7eb;
    
}




.suggestions >  a:nth-of-type(1){

border:1px solid #777777;
background-color: #777777;
}


.suggestions >  a:nth-of-type(5) {
    padding: 0.2rem;
    display: inline-block;
    color:black;
    text-decoration: none;
    border: none;
    border-left:1px solid #777777;
    border-top:1px solid #777777;
    border-bottom:1px solid #777777;
    border-radius: 4px;
 
    
    
}



/* ADS */

.Ads {
 

}

.Ads > img {
    width:100%;
    padding:0.6rem;
    padding-bottom: 0px;
}

.Ads > p {
    margin: 0px;
    display:flex;
    justify-content: space-between;
    color:#0071E3;
    background-color:#e1f5fe;
    padding:0.4rem;
    margin-left:0.6rem;
    margin-right:0.6rem;
}

.Ads > h4 {
    margin: 0px;
    margin-top: 0.5rem;
    display:flex;
    justify-content: space-between;
    font-weight: lighter;
    margin-left:0.6rem;
    margin-right:0.6rem;
}


.Ads > h5 {
    margin: 0px;
    margin-top: 0.5rem;
    color:#777777;
    font-weight: lighter;
    margin-left:0.6rem;
    margin-right:0.6rem;
}

.ad_span {
    background-color: #FCCF3E;
    color:white;
    border-radius: 3px;
   
}


.ad_drop_up {
    position:fixed;
    bottom:0px;
    z-index: 999999999;
    width: 100%;
    background-color: white;
    padding:1rem;
    display:none;
    font-size: 1.2rem;
    font-weight: lighter;
    color:#444444;
   
}


.ad_drop_up > div {
    padding:1rem;
}

.ad_drop-up_icons {
    margin-right: 1rem;
}



.checkbox1:checked ~ .ad_drop_up  {
    display:block;
    
}



.checkbox1 {
    display:none;
}





/* video box section */

.videos_section {
    max-width:800px;
    margin: 0 auto;
   
}


.videos_section1 {
    max-width:800px;
    margin: 0 auto;
   
}


.iframe_wrapper {
    width:100%;
    height:0;
    padding-bottom: 56.25%;
    position:relative;

}

iframe {
    position:absolute;
    height:100%;
    width:100%;
  
}


/* first video */





.pro_img_nd_descrip{
    display:flex;
    
  
}

.pro_img_feed {
    padding: 0.4rem;
    width:3rem;
    max-height: 3rem;
    margin: 0px;
    border-radius: 50px;
}



.descrip1 {
    max-width: 50%; 

 
}

.descrip2 {
    color:#777777;
    max-width: 100%;
}




.main_feed {
    display:flex;
    justify-content: space-around;
    flex-wrap: wrap;
}



/* navside */

.Navbar_side {
    display:none
}


 

.nav_btm_icons_query {
    display:none;
}

.search_bar_box {
    display:none;
}

.suggestions_query {
    display:none
}


.fa-grip-lines {
    display:none;
}

.checkbox2 {
    display:none;
}

.side_drop {
    display:none;
}

.fa-bars {
    display:none
}















@media only screen  and (min-width:400px) {

        .Ads {
            display:none;
        }


       


        .Ads_media {
            display:inline;
        }


        .pro_img {
            width:30%;
            margin-top: 0.5rem;
           
        
           
        }

       

        

        

}





@media only screen  and (min-width:740px) {

    .Navbar_bottom {
        display:none;
    }

        /* suggestions */

        .suggestions {
            display:none;
        }


        .suggestions_query >  a {
            margin-left: 4rem;
            
        }

        .suggestions_query {
            display:flex;
            justify-content: space-around;
            margin-left: 4rem;

        }

        .suggestions_query >  a {
            padding: 0.2rem;
            display: inline-block;
            color:black;
            text-decoration: none;
            border:1px solid #777777;
            border-radius: 10px;
            background-color: #e4e7eb;
            max-width: 100%;
            
        }




        .suggestions_query >  a:nth-of-type(1){

        border:1px solid #777777;
        background-color: #777777;
        }


        .suggestions_query >  a:nth-of-type(12) {
            padding: 0.2rem;
            display: inline-block;
            color:black;
            text-decoration: none;
            border: none;
            border-left:1px solid #777777;
            border-top:1px solid #777777;
            border-bottom:1px solid #777777;
            border-radius: 4px;
        
            
            
        }


        /* navbar bottom translated to side */


         .Navbar_bottom_query {
            position:fixed;
            position:absolute;
            padding-bottom: 1rem;
            background-color: white;
            height:100%;
           
            display:flex;
            flex-direction: column;
            z-index: 99999;
            padding: 1rem;

            
        }


        .nav_btm_icons_query {
          
            display:flex;
            flex-direction: column;
            justify-content: center;
            align-items: center;
            font-size: 1rem;
            padding-bottom: 2rem;

        }

        .main_feed {
            margin-left: 6.3rem;
        }




        /* side drop */


        .checkbox2:checked ~ .side_drop {

            display:block;

        }


        .side_drop {
            top:11%;
            position:fixed;
            position:absolute;
            padding-bottom: 1rem;
            background-color: white;
            height:200%;
            display:flex;
            flex-direction: column;
            z-index: 999999;
            width:15%;
            display:none;
            margin-left: 0px;
           

            
        }


        .side_drop_toggled_first_section > a {
            color:#777777;
            text-decoration: none;
            display:flex;
            
        }

        .side_drop_toggled_first_section > a > i {
            
            margin-right: 3rem;
        }



       

      

    
        .Subscription> a > img{
   
            height:35px;
            border-radius: 50%;
         
            margin-right: 20px;
            margin-bottom: 20px;
         
        }

        .Subscription > a{
            color:#777777;
            text-decoration: none;
            display:inline-block;
           
          
          
        
        }



        .more_from_youtube > h5 {
            margin-bottom: 1rem;
        }


        .more_from_youtube> a {
            color:#777777;
            text-decoration: none;
          
        }

        .more_from_youtube  > a > i {
            
            margin-right: 3rem;
        }




        .side_drop_toggled_4th_section > a {
            color:#777777;
            text-decoration: none;
        }


        .side_drop_toggled_4th_section  > a > i {
            
            margin-right: 3rem;
        }


        .footer_links > a{
            color:#777777;
            text-decoration: none;
        }
    










      

        /* search_bar */
        
        .search_bar_box {
            position: relative;
            display:inline;
            margin-top: 1.8rem;
            margin-right: 17rem;
            margin-left: 8rem;
            margin-bottom: 0px;
        
        }

        .search_bar {
            width:200%;
            height:2rem;

            display:inline;
          
        }

        .fa-microphone {
            position: absolute;
            left:260%;
            top:2%;
            font-size:1.5rem;
           
        }



       






        /* pro_img */

        .pro_img {
            width:20% !important;
            margin-top: 0.9rem;
           
        
           
        }

        .logo-icon {
            margin-left: 1.5rem;
        }


        .fa-bars {
          

            display:inline;
            position: absolute;
            top:5%;
            
        }

        .checkbox2 {
            display:none;
        }

       

        .videos_section{
            margin-bottom: 2rem;
            
        }





    }    
 